/* Global */

body {
    font-size: 12px;
    font-family: 'Arial';
    padding-top: 54px;
    background: url(http://www.logodesignlove.com/wp-content/uploads/2011/04/nba-logo-on-wood.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

body#page-football {
    background: url(http://i.nflcdn.com/static/site/7.4/img/video/poster-frames/poster-frame-280x210.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

img {
    max-width: 100%;
}

a {
    color: red;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p, a {
    font-size: 1rem;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
    background: #fff;
    color: #252525;
    box-shadow: 0 2px 5px -2px #000;
}
.button:hover {
    background: #ccc;
    transition: background 0.3s;
}




/* Header */

header {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: 9900;
    background: rgba(0,0,0,0.3);
}

a.logo {
    display: inline-block;
    padding: 15px;
}


/* Nav */

nav {
    text-align: right;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.nav:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    content: '';
}

.nav {
    text-align: center;
    margin: 100px 0;
}

.nav {
    position: relative;
    z-index: 100;
}



/* Body */

.modal-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

body.active .modal-wrap {
    display: block;
}


.project {
    position: relative;
    display: block;
}

.project:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    content: '';
    transition: background 0.3s;
}

.project:hover:before {
    background: rgba(0, 0, 0, 0.8);
}

.project span {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover span { opacity: 1; }













/* Sub-Body */


.meta-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 75px;
    overflow: hidden;
}


body.active .meta-wrap h1 {
    color:white;
}


.meta-wrap h1 {
  text-align: left;
  color: orange;
  text-decoration: underline;
  font-family: 'Meie Script' , cursive;
  font-size: 110px;
  padding-left: 20px;
}

.meta-menu p {
  text-align: left;
  color: orange;
  text-overflow: ellipsis;
  padding-left: 150px;
  padding-top: 25px;
}

.meta-nav > a {
    padding-left: 150px;
    text-decoration: underline;
    padding-top: 25px;
    font-size: 30px;
    display: inline-block;
}

.meta-wrap .button {
    float: right;
    margin-right: 50px;
}








/* Footer */

.footer {
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: orange;
}